@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* variables */
}

body {
  font-family: "Host Grotesk", sans-serif;
}

/* globals.css */

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-20px) rotateY(-10deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotateY(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(20px) rotateY(10deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotateY(0);
  }
}

.animate-slide-right {
  animation: slide-right 0.5s ease-in-out;
}

.animate-slide-left {
  animation: slide-left 0.5s ease-in-out;
}
.overflow-hidden {
  overflow: hidden;
}
.transition-all {
  transition: all 0.3s ease-in-out;
}
.max-h-0 {
  max-height: 0;
}
.max-height-500 {
  max-height: 500px; /* Adjust based on content size */
}
.jersey15-grekking {
  font-family: "Jersey_15", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: #172c2c;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}
