@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* variables */
}

body {
  font-family: "Host Grotesk", sans-serif;
}

/* globals.css */

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-20px) rotateY(-10deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotateY(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(20px) rotateY(10deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotateY(0);
  }
}

.animate-slide-right {
  animation: slide-right 0.5s ease-in-out;
}

.animate-slide-left {
  animation: slide-left 0.5s ease-in-out;
}
